.c-btn {
    font-size: $font-base * 1.4;
    color: white;
    border: none;
    padding:  10px 30px;
    border-radius: 3px;
    cursor: pointer;
    
    @include xl {
        font-size: $font-base * 1.7;
        padding:  10px 25px;

    }

    &__outline-gold {
        background-color: transparent;
        border: 1px solid $color-primary;
        @include transition-linear;

        &:hover {
            background-color: $color-primary;
        }

    }

    &__gold {
        background-color: $color-primary;
        @include transition-linear;

        &:hover {
            background-color: $color-white;
            color: $color-secondary;
        }
    }

    &__small {
        background-color: $color-black;
        padding: 10px 10px;
        border-radius: 5%;
        align-items: center;
        padding-right: 0;
        
        i{
            font-size: $font-base * 3;

        }
       
    }

    &__blue {
        background-color: $color-secondary;
        padding: 15px 30px;
        @include transition-linear;

        &:hover {
            background-color: $color-primary;
        }
    }

    &__gray-big {
        font-size: $font-base * 1.6;
        color: $color-black;
        border-bottom: 1px solid $color-gray-dark;
        padding: 30px 50px;

        &:hover {
            background-color: $color-white;
            border-left: 8px solid $color-primary;
        }
        
        &.active {
            background-color: $color-white;
            border-left: 8px solid $color-primary;

        }
    }

    &__big {
        padding: 15px 40px;
    }

    &__multicolor {
        background-color: $color-primary;

        &:hover {
            background-color: $color-secondary;
        }
    }

    &__category {
            position: relative;
            padding: 13px 15px;
            width: 200px;
            max-width: 210px;
            margin-bottom: $grid-base * 2;
            font-size: $font-base * 1.8;
            border: 2px solid $color-blue;
            background-color: transparent;
            border-radius: 2%;
            color: $color-black;
            // overflow: hidden;
            @include transition-linear;

            &:hover {
                background-color: $color-blue;
                color: $color-white;
            }

    }
}
   